<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/first.css')}}">
</head>
<body>
    <center>
        <h1>Static Files in Flask Project</h1>

        <img src="{{url_for('static',filename='images/car3.webp')}}" alt="No Image" srcset="">

        <h1><a href="{{url_for('second')}}">Navigate to Second</a></h1>

    </center>
</body>
</html>